In [1]:
import pandas as pd
import numpy as np

In [2]:
BAF_key_genes = pd.read_excel('BAF key genes.xlsx')
BAF_losslike_genes = pd.read_excel('cBAFlosslike_gene_mut_enrich_top15.xlsx')
MT_genes = pd.read_excel('All_cell_MTvsWT.xlsx')
p53WT = pd.read_excel('TP53WT_cells_AUC_DepmapID.xlsx')
p53MUT = pd.read_excel('TP53MUT_cells_AUC_DepmapID.xlsx')

In [3]:
MT_genes = MT_genes.rename(columns={'HugoSymbol':'gene'})
MT_genes.head()

,Unnamed: 0,gene,Mean AUC_WT,Cell names_WT,AUC values_WT,Mean AUC_MT,Cell names_MT,HgncName,AUC values_MT,AUC_difference_MT-WT
0,0,A1BG,0.747705,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.725997,"NCIH1435, MFE319, WM2664, HT115, KYSE450, HGC2...",alpha-1-B glycoprotein,"[0.690339204747059, 0.914688944108179, 0.62588...",-0.021709
1,1,A1CF,0.749348,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.811752287495537, 0.71311...",0.698158,"22RV1, AN3CA, HT115, NCIH650, NCIH1092, KATOII...",APOBEC1 complementation factor,"[0.543823949372426, 0.705741491202442, 0.69131...",-0.051189
2,2,A2M,0.749883,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.671580,"LS180, NCIH1435, MFE319, AN3CA, RKO, GP2D, GP2...",alpha-2-macroglobulin,"[0.803290432659885, 0.834731912055259, 0.80416...",-0.078303
3,3,A2ML1,0.749294,"OVTOKO, NCIH28, G402, LAMA84, RD, WM983B, NCIN...","[0.738025461647376, 0.811752287495537, 0.71311...",0.715021,"22RV1, HEC1A, NCIH1435, WM2664, WM2664, VMCUB1...",alpha-2-macroglobulin like 1,"[0.543823949372426, 0.77116001889797, 0.849187...",-0.034273
4,4,A3GALT2,0.746512,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.772726,"SNU407, LS180, MFE296, MFE319, SNUC2A, KYSE450...",alpha 1%3B3-galactosyltransferase 2,"[0.809228736277344, 0.73658900825747, 0.845666...",0.026214

In [4]:
BAF_loss = pd.merge(MT_genes, BAF_key_genes, on = 'gene', how = 'inner')
BAF_loss.head()

,Unnamed: 0,gene,Mean AUC_WT,Cell names_WT,AUC values_WT,Mean AUC_MT,Cell names_MT,HgncName,AUC values_MT,AUC_difference_MT-WT
0,974,ARID1A,0.760694,"NCIH28, SNB75, G402, LAMA84, RD, WM983B, NCIN8...","[0.738025461647376, 0.811752287495537, 0.71311...",0.682609,"22RV1, ONS76, LK2, NUGC3, IGROV1, IGROV1, HEC1...",AT-rich interaction domain 1A,"[0.543823949372426, 0.77116001889797, 0.309933...",-0.078085
1,975,ARID1B,0.752563,"OVTOKO, NCIH28, G402, LAMA84, RD, WM983B, NCIN...","[0.738025461647376, 0.543823949372426, 0.81175...",0.702399,"HEC1A, HEC1A, HEC1A, SNU407, SNU407, RL952, RL...",AT-rich interaction domain 1B,"[0.556359438090838, 0.309933260681286, 0.84918...",-0.050165
2,976,ARID2,0.748226,"OVTOKO, NCIH28, G402, LAMA84, RD, WM983B, NCIN...","[0.738025461647376, 0.543823949372426, 0.81175...",0.727182,"NUGC3, HEC1A, SNU407, SNU407, RL952, CCK81, SN...",AT-rich interaction domain 2,"[0.776396440938739, 0.691311315078145, 0.80329...",-0.021045
3,1600,BRD9,0.747257,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.740145,"IGROV1, MFE319, AN3CA, SNU1, OC316, OC314, SNU719",bromodomain containing 9,"[0.803290432659885, 0.626480587911348, 0.50695...",-0.007112
4,4246,DPF3,0.748363,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.369934,"HT115, 2313287, DV90, DV90",double PHD fingers 3,"[0.297412314136867, 0.522652226103668]",-0.378429

In [5]:
# Step 1: Split the comma-separated cell names and flatten the list
all_cell_names = [cell.strip() for sublist in BAF_loss['Cell names_MT'] for cell in sublist.split(',')]

# Step 2: Extract unique cell names
unique_cell_names = list(set(all_cell_names))

# Step 3: Convert the list of unique cell names into a DataFrame with header "CellName"
BAF_loss_cells = pd.DataFrame(unique_cell_names, columns=['Cell name'])

In [6]:
BAF_loss.to_excel('BAF_loss_MTvsWT.xlsx')

In [7]:
DRC_table = pd.read_excel('DRCtableAUC_merge_DepmapID.xlsx')

In [8]:
DRC_BAF_loss = pd.merge(DRC_table,BAF_loss_cells, on = 'Cell name', how = 'inner')
DRC_BAF_loss.head()

  Cell name   Depmap ID  AUC, DEG-35  AUC, DEG-35 sigfig 4
0     22RV1  ACH-000956     0.543824                0.5438
1      253J  ACH-000011     0.811752                0.8118
2    253JBV  ACH-000026     0.713113                0.7131
3    42MGBA  ACH-000323     0.776396                0.7764
4      639V  ACH-000973     0.771160                0.7712

In [9]:
DRC_BAF_loss.to_excel('DRCtable_BAF_loss_ALLCELLS.xlsx')

In [10]:
DRC_BAF_loss_p53WT = pd.merge(p53WT, BAF_loss_cells, on = 'Cell name', how = 'inner')
DRC_BAF_loss_p53WT.to_excel('DRCtable_BAF_loss_p53WTcells.xlsx')

DRC_BAF_loss_p53MUT = pd.merge(p53MUT, BAF_loss_cells, on = 'Cell name', how = 'inner')
DRC_BAF_loss_p53MUT.to_excel('DRCtable_BAF_loss_p53MUTcells.xlsx')

In [11]:
BAF_losslike = pd.merge(MT_genes, BAF_losslike_genes, on = 'gene', how = 'inner')
BAF_losslike.head()

,Unnamed: 0,gene,Mean AUC_WT,Cell names_WT,AUC values_WT,Mean AUC_MT,Cell names_MT,HgncName,AUC values_MT,AUC_difference_MT-WT,q,-log10q,annotated_functions
0,2827,CHD2,0.748362,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.712274,"NUGC3, HEC1A, SNU407, HCC1428, HT115, HT115, I...",chromodomain helicase DNA binding protein 2,"[0.919748818602965, 0.790899869123222, 0.83239...",-0.036089,0.009230,2.034796,RNA binding
1,3977,DGKA,0.748427,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.687325,"RL952, MFE296, SNUC2A, IM95, HCT15, GP2D, MDAM...",diacylglycerol kinase alpha,"[0.619982967969354, 0.564214983594246, 0.80922...",-0.061103,0.046533,1.332239,NaN
2,4320,DST,0.752114,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.543823949372426, 0.811752287495537, 0.71311...",0.690981,"ONS76, NUGC3, NUGC3, IGROV1, HEC1A, HEC1A, HEC...",dystonin,"[0.738025461647376, 0.77116001889797, 0.771773...",-0.061133,0.046533,1.332239,kinase activity
3,4545,EHMT1,0.749657,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.710373,"CCK81, SNUC2A, HT115, IM95, RKO, SW48, SNGM, 5...",euchromatic histone lysine methyltransferase 1,"[0.661998619751851, 0.847510626861383, 0.72887...",-0.039284,0.009230,2.034796,methyltransferase;protein binding
4,4709,ENTHD1,0.747988,"OVTOKO, NCIH28, SNB75, G402, LAMA84, WM983B, N...","[0.543823949372426, 0.811752287495537, 0.71311...",0.713877,"SW900, SW900, HEC1A, HT115, HCT15, BT474, 143B...",ENTH domain containing 1,"[0.738025461647376, 0.962740566604178, 0.69888...",-0.034111,0.046533,1.332239,NaN

In [12]:
# Step 1: Split the comma-separated cell names and flatten the list
all_cell_names2 = [cell.strip() for sublist in BAF_losslike['Cell names_MT'] for cell in sublist.split(',')]

# Step 2: Extract unique cell names
unique_cell_names2 = list(set(all_cell_names2))

# Step 3: Convert the list of unique cell names into a DataFrame with header "CellName"
BAF_losslike_cells = pd.DataFrame(unique_cell_names2, columns=['Cell name'])

In [13]:
DRC_BAF_losslike = pd.merge(DRC_table, BAF_losslike_cells, on = 'Cell name', how = 'inner')
DRC_BAF_losslike.to_excel('DRCtable_BAF_losslike_ALLCELLS.xlsx')

DRC_BAF_losslike_p53WT = pd.merge(p53WT, BAF_losslike_cells, on = 'Cell name', how = 'inner')
DRC_BAF_losslike_p53WT.to_excel('DRCtable_BAF_losslike_p53WTcells.xlsx')

DRC_BAF_losslike_p53MUT = pd.merge(p53MUT, BAF_losslike_cells, on = 'Cell name', how = 'inner')
DRC_BAF_losslike_p53MUT.to_excel('DRCtable_BAF_losslike_p53MUTcells.xlsx')

In [14]:
BAF_MT_total = pd.concat([BAF_loss_cells, BAF_losslike_cells])

In [15]:
BAF_MT_total.head()

  Cell name
0   NCIH446
1     OC314
2    SW1088
3    VMCUB1
4     KMRC1

In [16]:
BAF_MT_total = BAF_MT_total.drop_duplicates()
print(len(BAF_MT_total))

338

In [17]:
merged_df = DRC_table.merge(BAF_MT_total, on = ['Cell name'], how = 'left', indicator = True)
# Filter out the rows that are present in both DataFrames
df1_filtered = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])

In [18]:
df1_filtered.to_excel('DRCtable_BAF_WT_ALLCELLS.xlsx')

In [19]:
merged_df = p53WT.merge(BAF_MT_total, on = ['Cell name'], how = 'left', indicator = True)
# Filter out the rows that are present in both DataFrames
df1_filtered = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])
df1_filtered.to_excel('DRCtable_BAF_WT_p53WTcell.xlsx')

In [20]:
merged_df = p53MUT.merge(BAF_MT_total, on = ['Cell name'], how = 'left', indicator = True)
# Filter out the rows that are present in both DataFrames
df1_filtered = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])
df1_filtered.to_excel('DRCtable_BAF_WT_p53MUTcell.xlsx')

In [21]:
cBAF_downreg = pd.read_excel('cBAF_downreg.xlsx')