In [2]:
import pandas as pd
import numpy as np

In [2]:
BAF_genes = pd.read_excel('BAF genes.xlsx')
BAF_losslike_genes = pd.read_excel('cBAFlosslike_gene_mut_enrich.xlsx')
MT_genes = pd.read_excel('All_cell_MTvsWT.xlsx')

In [3]:
p53WT = pd.read_excel('TP53WT_cells_AUC_DepmapID.xlsx')
p53MUT = pd.read_excel('TP53MUT_cells_AUC_DepmapID.xlsx')

In [27]:
p53WT.head()

  Cell name   Depmap ID  AUC, DEG-35  AUC, DEG-35 sigfig 4
0   2313287  ACH-000948     0.362258                0.3623
1      253J  ACH-000011     0.811752                0.8118
2    253JBV  ACH-000026     0.713113                0.7131
3       697  ACH-000070     0.549193                0.5492
4      769P  ACH-000411     0.539455                0.5395

In [4]:
MT_genes.head()

,Unnamed: 0,HugoSymbol,Mean AUC_WT,Cell names_WT,AUC values_WT,Mean AUC_MT,Cell names_MT,HgncName,AUC values_MT,AUC_difference_MT-WT
0,0,A1BG,0.747705,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.725997,"NCIH1435, MFE319, WM2664, HT115, KYSE450, HGC2...",alpha-1-B glycoprotein,"[0.690339204747059, 0.914688944108179, 0.62588...",-0.021709
1,1,A1CF,0.749348,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.811752287495537, 0.71311...",0.698158,"22RV1, AN3CA, HT115, NCIH650, NCIH1092, KATOII...",APOBEC1 complementation factor,"[0.543823949372426, 0.705741491202442, 0.69131...",-0.051189
2,2,A2M,0.749883,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.671580,"LS180, NCIH1435, MFE319, AN3CA, RKO, GP2D, GP2...",alpha-2-macroglobulin,"[0.803290432659885, 0.834731912055259, 0.80416...",-0.078303
3,3,A2ML1,0.749294,"OVTOKO, NCIH28, G402, LAMA84, RD, WM983B, NCIN...","[0.738025461647376, 0.811752287495537, 0.71311...",0.715021,"22RV1, HEC1A, NCIH1435, WM2664, WM2664, VMCUB1...",alpha-2-macroglobulin like 1,"[0.543823949372426, 0.77116001889797, 0.849187...",-0.034273
4,4,A3GALT2,0.746512,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.772726,"SNU407, LS180, MFE296, MFE319, SNUC2A, KYSE450...",alpha 1%3B3-galactosyltransferase 2,"[0.809228736277344, 0.73658900825747, 0.845666...",0.026214

In [5]:
MT_genes = MT_genes.rename(columns={'HugoSymbol':'gene'})
MT_genes.head()

,Unnamed: 0,gene,Mean AUC_WT,Cell names_WT,AUC values_WT,Mean AUC_MT,Cell names_MT,HgncName,AUC values_MT,AUC_difference_MT-WT
0,0,A1BG,0.747705,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.725997,"NCIH1435, MFE319, WM2664, HT115, KYSE450, HGC2...",alpha-1-B glycoprotein,"[0.690339204747059, 0.914688944108179, 0.62588...",-0.021709
1,1,A1CF,0.749348,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.811752287495537, 0.71311...",0.698158,"22RV1, AN3CA, HT115, NCIH650, NCIH1092, KATOII...",APOBEC1 complementation factor,"[0.543823949372426, 0.705741491202442, 0.69131...",-0.051189
2,2,A2M,0.749883,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.671580,"LS180, NCIH1435, MFE319, AN3CA, RKO, GP2D, GP2...",alpha-2-macroglobulin,"[0.803290432659885, 0.834731912055259, 0.80416...",-0.078303
3,3,A2ML1,0.749294,"OVTOKO, NCIH28, G402, LAMA84, RD, WM983B, NCIN...","[0.738025461647376, 0.811752287495537, 0.71311...",0.715021,"22RV1, HEC1A, NCIH1435, WM2664, WM2664, VMCUB1...",alpha-2-macroglobulin like 1,"[0.543823949372426, 0.77116001889797, 0.849187...",-0.034273
4,4,A3GALT2,0.746512,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.772726,"SNU407, LS180, MFE296, MFE319, SNUC2A, KYSE450...",alpha 1%3B3-galactosyltransferase 2,"[0.809228736277344, 0.73658900825747, 0.845666...",0.026214

In [14]:
BAF_loss = pd.merge(MT_genes, BAF_genes, on = 'gene', how = 'inner')
BAF_loss.head()

,Unnamed: 0,gene,Mean AUC_WT,Cell names_WT,AUC values_WT,Mean AUC_MT,Cell names_MT,HgncName,AUC values_MT,AUC_difference_MT-WT
0,204,ACTL6A,0.747175,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.746640,"HCT116, RKO, ESS1, SUDHL1, HEC151, CHL1",actin like 6A,"[0.699437422980904, 0.724396162194618, 0.85291...",-0.000535
1,205,ACTL6B,0.749048,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.811752287495537, 0.71311...",0.659995,"22RV1, AN3CA, RKO, PLCPRF5, GP2D, HCC1359, HCC...",actin like 6B,"[0.543823949372426, 0.803290432659885, 0.36062...",-0.089053
2,974,ARID1A,0.760694,"NCIH28, SNB75, G402, LAMA84, RD, WM983B, NCIN8...","[0.738025461647376, 0.811752287495537, 0.71311...",0.682609,"22RV1, ONS76, LK2, NUGC3, IGROV1, IGROV1, HEC1...",AT-rich interaction domain 1A,"[0.543823949372426, 0.77116001889797, 0.309933...",-0.078085
3,975,ARID1B,0.752563,"OVTOKO, NCIH28, G402, LAMA84, RD, WM983B, NCIN...","[0.738025461647376, 0.543823949372426, 0.81175...",0.702399,"HEC1A, HEC1A, HEC1A, SNU407, SNU407, RL952, RL...",AT-rich interaction domain 1B,"[0.556359438090838, 0.309933260681286, 0.84918...",-0.050165
4,976,ARID2,0.748226,"OVTOKO, NCIH28, G402, LAMA84, RD, WM983B, NCIN...","[0.738025461647376, 0.543823949372426, 0.81175...",0.727182,"NUGC3, HEC1A, SNU407, SNU407, RL952, CCK81, SN...",AT-rich interaction domain 2,"[0.776396440938739, 0.691311315078145, 0.80329...",-0.021045

In [23]:
# Step 1: Split the comma-separated cell names and flatten the list
all_cell_names = [cell.strip() for sublist in BAF_loss['Cell names_MT'] for cell in sublist.split(',')]

# Step 2: Extract unique cell names
unique_cell_names = list(set(all_cell_names))

# Step 3: Convert the list of unique cell names into a DataFrame with header "CellName"
BAF_loss_cells = pd.DataFrame(unique_cell_names, columns=['Cell name'])

In [24]:
BAF_loss_cells.head()

  Cell name
0   NCIH460
1      HARA
2       EB1
3      MEWO
4   NCIH522

In [17]:
print(len(BAF_loss_cells))

265

In [18]:
BAF_loss.to_excel('BAF_loss_MTvsWT.xlsx')

In [19]:
DRC_table = pd.read_excel('DRCtableAUC_merge_DepmapID.xlsx')

In [38]:
DRC_table.head()

567

In [25]:
DRC_BAF_loss = pd.merge(DRC_table,BAF_loss_cells, on = 'Cell name', how = 'inner')
DRC_BAF_loss.head()

  Cell name   Depmap ID  AUC, DEG-35  AUC, DEG-35 sigfig 4
0     22RV1  ACH-000956     0.543824                0.5438
1      253J  ACH-000011     0.811752                0.8118
2    253JBV  ACH-000026     0.713113                0.7131
3    42MGBA  ACH-000323     0.776396                0.7764
4      639V  ACH-000973     0.771160                0.7712

In [39]:
print(len(DRC_BAF_loss))

263

In [26]:
DRC_BAF_loss.to_excel('DRCtable_BAF_loss_ALLCELLS.xlsx')

In [28]:
DRC_BAF_loss_p53WT = pd.merge(p53WT, BAF_loss_cells, on = 'Cell name', how = 'inner')
DRC_BAF_loss_p53WT.to_excel('DRCtable_BAF_loss_p53WTcells.xlsx')

DRC_BAF_loss_p53MUT = pd.merge(p53MUT, BAF_loss_cells, on = 'Cell name', how = 'inner')
DRC_BAF_loss_p53MUT.to_excel('DRCtable_BAF_loss_p53MUTcells.xlsx')

In [43]:
print(len(DRC_BAF_loss_p53WT))

86

In [44]:
print(len(DRC_BAF_loss_p53MUT))

177

In [29]:
BAF_losslike_genes.head()

       gene         q   -log10q                annotated_functions
0   RAPGEF6  0.009230  2.034796     GTPase binding;protein binding
1      CHD2  0.009230  2.034796                        RNA binding
2     EHMT1  0.009230  2.034796  methyltransferase;protein binding
3    PHLDB1  0.044690  1.349793                                NaN
4  SERPINA7  0.046533  1.332239                                NaN

In [30]:
BAF_losslike = pd.merge(MT_genes, BAF_losslike_genes, on = 'gene', how = 'inner')
BAF_losslike.head()

,Unnamed: 0,gene,Mean AUC_WT,Cell names_WT,AUC values_WT,Mean AUC_MT,Cell names_MT,HgncName,AUC values_MT,AUC_difference_MT-WT,q,-log10q,annotated_functions
0,119,ACACB,0.753390,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.811752287495537, 0.71311...",0.651706,"22RV1, SW900, NUGC3, IGROV1, HEC1A, CCK81, MFE...",acetyl-CoA carboxylase beta,"[0.543823949372426, 0.867995523789083, 0.72887...",-0.101684,0.056815,1.245538,protein binding
1,224,ACTRT2,0.747132,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.811752287495537, 0.71311...",0.749247,"22RV1, HT1376, AN3CA, NCIH650, GP2D, C32, HEC1...",actin related protein T2,"[0.543823949372426, 0.691311315078145, 0.80329...",0.002115,0.062684,1.202841,protein binding;transcription factor
2,269,ADAMTS16,0.747586,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.745610,"LK2, NUGC3, LS180, NCIH1435, MFE319, MFE319, T...",ADAM metallopeptidase with thrombospondin type...,"[0.713112663181786, 0.71570980395205, 0.735791...",-0.001976,0.088372,1.053685,NaN
3,397,AFF2,0.748529,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.723940,"RERFLCMS, RERFLCMS, ONS76, HEC1A, RL952, LS180...",AF4/FMR2 family member 2,"[0.57006231679881, 0.735791317373497, 0.897499...",-0.024589,0.046533,1.332239,transcription factor
4,697,ANKRD30A,0.748094,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.742702,"LK2, LS180, NCIH82, CAL51, HT115, RKO, NCIH650...",ankyrin repeat domain 30A,"[0.961409579675241, 0.989801214599116, 0.43596...",-0.005392,0.062684,1.202841,NaN

In [45]:
print(len(BAF_losslike_genes))

178

In [46]:
print(len(BAF_losslike))

159

In [47]:
# Step 1: Split the comma-separated cell names and flatten the list
all_cell_names2 = [cell.strip() for sublist in BAF_losslike['Cell names_MT'] for cell in sublist.split(',')]

# Step 2: Extract unique cell names
unique_cell_names2 = list(set(all_cell_names2))

# Step 3: Convert the list of unique cell names into a DataFrame with header "CellName"
BAF_losslike_cells = pd.DataFrame(unique_cell_names2, columns=['Cell name'])

In [48]:
BAF_losslike_cells.head()

  Cell name
0     HDMYZ
1      BC3C
2  PANC0327
3    JHUEM2
4    EWS502

In [49]:
print(len(BAF_losslike_cells))

551

In [40]:
BAF_losslike_cells.to_excel('check.xlsx')

In [42]:
print(len(DRC_table))

567

In [33]:
DRC_BAF_losslike = pd.merge(DRC_table, BAF_losslike_cells, on = 'Cell name', how = 'inner')
DRC_BAF_losslike.to_excel('DRCtable_BAF_losslike_ALLCELLS.xlsx')

DRC_BAF_losslike_p53WT = pd.merge(p53WT, BAF_losslike_cells, on = 'Cell name', how = 'inner')
DRC_BAF_losslike_p53WT.to_excel('DRCtable_BAF_losslike_p53WTcells.xlsx')

DRC_BAF_losslike_p53MUT = pd.merge(p53MUT, BAF_losslike_cells, on = 'Cell name', how = 'inner')
DRC_BAF_losslike_p53MUT.to_excel('DRCtable_BAF_losslike_p53MUTcells.xlsx')

In [37]:
DRC_BAF_losslike.head()

  Cell name   Depmap ID  AUC, DEG-35  AUC, DEG-35 sigfig 4
0      143B  ACH-001001     0.738025                0.7380
1     22RV1  ACH-000956     0.543824                0.5438
2      253J  ACH-000011     0.811752                0.8118
3    253JBV  ACH-000026     0.713113                0.7131
4    42MGBA  ACH-000323     0.776396                0.7764

In [34]:
# Step 1: Split the comma-separated cell names and flatten the list
all_cell_names = [cell.strip() for sublist in BAF_loss['Cell names_WT'] for cell in sublist.split(',')]

# Step 2: Extract unique cell names
unique_cell_names = list(set(all_cell_names))

# Step 3: Convert the list of unique cell names into a DataFrame with header "CellName"
BAF_WT_cells = pd.DataFrame(unique_cell_names, columns=['Cell name'])

# Step 1: Split the comma-separated cell names and flatten the list
all_cell_names = [cell.strip() for sublist in BAF_losslike['Cell names_WT'] for cell in sublist.split(',')]

# Step 2: Extract unique cell names
unique_cell_names = list(set(all_cell_names))

# Step 3: Convert the list of unique cell names into a DataFrame with header "CellName"
BAF_WT_cells_2 = pd.DataFrame(unique_cell_names, columns=['Cell name'])

In [35]:
BAF_WT_noloss_cells = pd.merge(BAF_WT_cells,BAF_WT_cells_2, on = 'Cell name', how = 'inner')

In [41]:
BAF_WT_cells_2.head()

  Cell name
0     HDMYZ
1      BC3C
2  PANC0327
3    JHUEM2
4    EWS502

In [36]:
DRC_BAF_WT = pd.merge(DRC_table, BAF_WT_noloss_cells, on = 'Cell name', how = 'inner')
DRC_BAF_WT.to_excel('DRCtable_BAF_WT_ALLCELLS.xlsx')

DRC_BAF_WT_p53WT = pd.merge(p53WT, BAF_WT_noloss_cells, on = 'Cell name', how = 'inner')
DRC_BAF_WT_p53WT.to_excel('DRCtable_BAF_WT_p53WTcell.xlsx')

DRC_BAF_WT_p53MUT = pd.merge(p53MUT, BAF_WT_noloss_cells, on = 'Cell name', how = 'inner')
DRC_BAF_WT_p53MUT.to_excel('DRCtable_BAF_WT_p53MUTcells.xlsx')

In [50]:
BAF_losslike_genes2 = pd.read_excel('cBAFlosslike_gene_mut_enrich_p05.xlsx')

In [51]:
BAF_losslike = pd.merge(MT_genes, BAF_losslike_genes2, on = 'gene', how = 'inner')
BAF_losslike.head()

,Unnamed: 0,gene,Mean AUC_WT,Cell names_WT,AUC values_WT,Mean AUC_MT,Cell names_MT,HgncName,AUC values_MT,AUC_difference_MT-WT,q,-log10q,annotated_functions
0,119,ACACB,0.753390,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.811752287495537, 0.71311...",0.651706,"22RV1, SW900, NUGC3, IGROV1, HEC1A, CCK81, MFE...",acetyl-CoA carboxylase beta,"[0.543823949372426, 0.867995523789083, 0.72887...",-0.101684,0.056815,1.245538,protein binding
1,397,AFF2,0.748529,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.723940,"RERFLCMS, RERFLCMS, ONS76, HEC1A, RL952, LS180...",AF4/FMR2 family member 2,"[0.57006231679881, 0.735791317373497, 0.897499...",-0.024589,0.046533,1.332239,transcription factor
2,1163,ATG2B,0.750699,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.811752287495537, 0.71311...",0.673432,"22RV1, MFE319, SNUC2A, 2313287, GP2D, MDAMB361...",autophagy related 2B,"[0.543823949372426, 0.77116001889797, 0.539455...",-0.077267,0.047725,1.321253,NaN
3,2827,CHD2,0.748362,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.712274,"NUGC3, HEC1A, SNU407, HCC1428, HT115, HT115, I...",chromodomain helicase DNA binding protein 2,"[0.919748818602965, 0.790899869123222, 0.83239...",-0.036089,0.009230,2.034796,RNA binding
4,3215,COL4A5,0.748128,"OVTOKO, NCIH28, SNB75, G402, LAMA84, RD, WM983...","[0.738025461647376, 0.543823949372426, 0.81175...",0.727098,"HEC1A, HCC1428, NCIH1435, WM2664, 2313287, NCI...",collagen type IV alpha 5 chain,"[0.77116001889797, 0.435969007366679, 0.747046...",-0.021029,0.056815,1.245538,protein binding

In [52]:
print(len(BAF_losslike))

28

In [53]:
# Step 1: Split the comma-separated cell names and flatten the list
all_cell_names2 = [cell.strip() for sublist in BAF_losslike['Cell names_MT'] for cell in sublist.split(',')]

# Step 2: Extract unique cell names
unique_cell_names2 = list(set(all_cell_names2))

# Step 3: Convert the list of unique cell names into a DataFrame with header "CellName"
BAF_losslike_cells = pd.DataFrame(unique_cell_names2, columns=['Cell name'])

In [58]:
print(len(BAF_losslike_cells))

330

In [54]:
DRC_BAF_losslike = pd.merge(DRC_table, BAF_losslike_cells, on = 'Cell name', how = 'inner')
DRC_BAF_losslike.to_excel('DRCtable_BAF_losslike_ALLCELLS.xlsx')

DRC_BAF_losslike_p53WT = pd.merge(p53WT, BAF_losslike_cells, on = 'Cell name', how = 'inner')
DRC_BAF_losslike_p53WT.to_excel('DRCtable_BAF_losslike_p53WTcells.xlsx')

DRC_BAF_losslike_p53MUT = pd.merge(p53MUT, BAF_losslike_cells, on = 'Cell name', how = 'inner')
DRC_BAF_losslike_p53MUT.to_excel('DRCtable_BAF_losslike_p53MUTcells.xlsx')

In [59]:
BAF_MT_total = pd.concat([BAF_loss_cells, BAF_losslike_cells])

In [60]:
BAF_MT_total.head()

  Cell name
0   NCIH460
1      HARA
2       EB1
3      MEWO
4   NCIH522

In [61]:
print(len(BAF_MT_total))

595

In [62]:
BAF_MT_total = BAF_MT_total.drop_duplicates()

In [63]:
print(len(BAF_MT_total))

409

In [69]:
merged_df = DRC_table.merge(BAF_MT_total, on = ['Cell name'], how = 'left', indicator = True)
# Filter out the rows that are present in both DataFrames
df1_filtered = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])

In [70]:
print(len(df1_filtered))

161

In [71]:
df1_filtered.to_excel('DRCtable_BAF_WT_ALLCELLS.xlsx')

In [72]:
merged_df = p53WT.merge(BAF_MT_total, on = ['Cell name'], how = 'left', indicator = True)
# Filter out the rows that are present in both DataFrames
df1_filtered = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])

In [73]:
print(len(df1_filtered))

62

In [74]:
df1_filtered.to_excel('DRCtable_BAF_WT_p53WTcell.xlsx')

In [75]:
merged_df = p53MUT.merge(BAF_MT_total, on = ['Cell name'], how = 'left', indicator = True)
# Filter out the rows that are present in both DataFrames
df1_filtered = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])

In [76]:
print(len(df1_filtered))

99

In [77]:
df1_filtered.to_excel('DRCtable_BAF_WT_p53MUTcell.xlsx')

In [3]:
BAF_key_genes = pd.read_excel('BAF key genes.xlsx')
BAF_losslike_15genes = pd.read_excel('cBAFlosslike_gene_mut_enrich_top15.xlsx')