In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
DRC_table = pd.read_excel('DRCtableAUC_merge_DepmapID.xlsx')
DRC_table.head()

  Cell name   Depmap ID  AUC, DEG-35  AUC, DEG-35 sigfig 4
0      143B  ACH-001001     0.738025                0.7380
1     22RV1  ACH-000956     0.543824                0.5438
2   2313287  ACH-000948     0.362258                0.3623
3      253J  ACH-000011     0.811752                0.8118
4    253JBV  ACH-000026     0.713113                0.7131

In [30]:
Omics_EPCG_TPMlogp1 = pd.read_csv('OmicsExpressionProteinCodingGenesTPMLogp1.csv')
Omics_EPCG_TPMlogp1 = Omics_EPCG_TPMlogp1.rename(columns={'Unnamed: 0': 'Depmap ID'})
Omics_EPCG_TPMlogp1.columns = Omics_EPCG_TPMlogp1.columns.str.split(' ').str[0]
Omics_EPCG_TPMlogp1.head()

,Depmap,TSPAN6,TNMD,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,...,H3C2,H3C3,AC098582.1,DUS4L-BCAP29,C8orf44-SGK3,ELOA3B,NPBWR1,ELOA3D,ELOA3,CDR1
0,ACH-001113,4.331992,0.000000,7.364660,2.792855,4.471187,0.028569,1.226509,3.044394,6.500005,...,2.689299,0.189034,0.201634,2.130931,0.555816,0.0,0.275007,0.0,0.0,0.000000
1,ACH-001289,4.567424,0.584963,7.106641,2.543496,3.504620,0.000000,0.189034,3.813525,4.221877,...,1.286881,1.049631,0.321928,1.464668,0.632268,0.0,0.014355,0.0,0.0,0.000000
2,ACH-001339,3.150560,0.000000,7.379118,2.333424,4.228049,0.056584,1.310340,6.687201,3.682573,...,0.594549,1.097611,0.831877,2.946731,0.475085,0.0,0.084064,0.0,0.0,0.042644
3,ACH-001538,5.085340,0.000000,7.154211,2.545968,3.084064,0.000000,5.868390,6.165309,4.489928,...,0.214125,0.632268,0.298658,1.641546,0.443607,0.0,0.028569,0.0,0.0,0.000000
4,ACH-000242,6.729417,0.000000,6.537917,2.456806,3.867896,0.799087,7.208478,5.570159,7.127117,...,1.117695,2.358959,0.084064,1.910733,0.000000,0.0,0.464668,0.0,0.0,0.000000

In [4]:
#function that merges the AUC data and the biomarker table and then iterates through each gene and calculates R-squared. 
def calculate_average (df):
    avg_values = {}
    
    # Loop through each column in the DataFrame
    for column in df.columns:
        # Check if the column contains numeric data
        if pd.api.types.is_numeric_dtype(df[column]):
            # Check for missing values in target_data and column
            if df[column].isnull().any():
                avg_values[column] = np.nan
            else:
                # Check if the column has more than one unique value
                if df[column].nunique() > 1:
                    # Calculate correlation with the target column
                    average = np.mean(df[column])
                    avg_values[column] = average
                else:
                    avg_values[column] = np.nan
    
    return avg_values

In [5]:
TEST = calculate_average(Omics_EPCG_TPMlogp1)

In [6]:
TEST = pd.DataFrame(data=TEST, index=[0])
TEST.head()

,TSPAN6 (7105),TNMD (64102),DPM1 (8813),SCYL3 (57147),C1orf112 (55732),FGR (2268),CFH (3075),FUCA2 (2519),GCLC (2729),NFYA (4800),...,H3C2 (8358),H3C3 (8352),AC098582.1 (8916),DUS4L-BCAP29 (115253422),C8orf44-SGK3 (100533105),ELOA3B (728929),NPBWR1 (2831),ELOA3D (100506888),ELOA3 (162699),CDR1 (1038)
0,3.393633,0.077185,6.521012,2.367667,3.678618,0.43154,2.198972,5.164228,4.63679,4.046401,...,1.053325,0.762257,0.484709,2.077733,0.379461,0.018808,0.273335,0.019286,0.026553,0.060497

In [9]:
cBAF_downreg = pd.read_excel('cBAF downreg.xlsx')

In [10]:
cBAF_downreg.head()

,gene,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue,annotated_functions
0,AC120498.2,0.750,0.017054,0.211041,0.999958,0.027279,2.475964e-05,0.044611,8.244354e-04,0.001933,None
1,CEACAM4,0.625,0.025639,0.886171,0.999958,0.026456,1.378033e-08,0.869397,3.040177e-02,0.011028,None
2,AMPD1,0.625,0.000119,0.045469,0.999958,0.673551,6.832343e-03,0.266281,3.292728e-05,0.022511,None
3,WDFY4,0.625,0.005691,0.011861,0.999958,0.039050,3.174918e-06,0.977838,2.106987e-02,0.790541,None
4,SLC37A2,0.625,0.010461,0.661427,0.999958,0.023025,4.658607e-19,0.089450,8.152264e-07,0.009690,None

In [7]:
TEST.columns = TEST.columns.str.split(' ').str[0]

In [8]:
TEST.head()

,TSPAN6,TNMD,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,H3C2,H3C3,AC098582.1,DUS4L-BCAP29,C8orf44-SGK3,ELOA3B,NPBWR1,ELOA3D,ELOA3,CDR1
0,3.393633,0.077185,6.521012,2.367667,3.678618,0.43154,2.198972,5.164228,4.63679,4.046401,...,1.053325,0.762257,0.484709,2.077733,0.379461,0.018808,0.273335,0.019286,0.026553,0.060497

In [16]:
TEST1 = TEST.rename(index={0:'Average'})

In [17]:
TEST1.head()

,TSPAN6,TNMD,DPM1,SCYL3,C1orf112,FGR,CFH,FUCA2,GCLC,NFYA,...,H3C2,H3C3,AC098582.1,DUS4L-BCAP29,C8orf44-SGK3,ELOA3B,NPBWR1,ELOA3D,ELOA3,CDR1
Average,3.393633,0.077185,6.521012,2.367667,3.678618,0.43154,2.198972,5.164228,4.63679,4.046401,...,1.053325,0.762257,0.484709,2.077733,0.379461,0.018808,0.273335,0.019286,0.026553,0.060497

In [18]:
TEST1 = TEST1.transpose()

In [19]:
TEST1 = TEST1.reset_index()

In [21]:
TEST1 = TEST1.rename(columns={'index':'gene'})

In [42]:
TEST1.head()

       gene   Average
0    TSPAN6  3.393633
1      TNMD  0.077185
2      DPM1  6.521012
3     SCYL3  2.367667
4  C1orf112  3.678618

In [31]:
RNAseq = Omics_EPCG_TPMlogp1.transpose()
RNAseq.head()

,0,1,2,3,4,5,6,7,8,9,...,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478
Depmap,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,ACH-000705,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
TSPAN6,4.331992,4.567424,3.15056,5.08534,6.729417,4.27277,3.337711,0.056584,4.017031,4.412104,...,6.345361,4.018812,4.328406,5.995032,3.533563,0.056584,3.111031,4.390943,5.05745,4.249445
TNMD,0.0,0.584963,0.0,0.0,0.0,0.189034,0.0,0.0,0.0,0.0,...,3.401903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
DPM1,7.36466,7.106641,7.379118,7.154211,6.537917,7.023255,5.927659,6.094236,6.534497,6.412782,...,7.211694,6.700856,7.059182,6.238978,6.488483,6.604368,7.031329,7.013239,7.815191,6.175724
SCYL3,2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.971773,2.226509,2.367371,...,2.533563,2.137504,1.891419,2.304511,1.823749,3.266037,1.541019,1.887525,2.538538,2.31904

In [32]:
RNAseq = RNAseq.reset_index()

In [33]:
RNAseq.head()

,index,0,1,2,3,4,5,6,7,8,...,1469,1470,1471,1472,1473,1474,1475,1476,1477,1478
0,Depmap,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
1,TSPAN6,4.331992,4.567424,3.15056,5.08534,6.729417,4.27277,3.337711,0.056584,4.017031,...,6.345361,4.018812,4.328406,5.995032,3.533563,0.056584,3.111031,4.390943,5.05745,4.249445
2,TNMD,0.0,0.584963,0.0,0.0,0.0,0.189034,0.0,0.0,0.0,...,3.401903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,DPM1,7.36466,7.106641,7.379118,7.154211,6.537917,7.023255,5.927659,6.094236,6.534497,...,7.211694,6.700856,7.059182,6.238978,6.488483,6.604368,7.031329,7.013239,7.815191,6.175724
4,SCYL3,2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.971773,2.226509,...,2.533563,2.137504,1.891419,2.304511,1.823749,3.266037,1.541019,1.887525,2.538538,2.31904

In [34]:
row_index = 0
# Set the new header
new_header = RNAseq.iloc[row_index]  # Take the row to be used as header
df = RNAseq[1:]  # Remove the header row from the data
df.columns = new_header  # Set new header

# Reset index if desired
df.reset_index(drop=True, inplace=True)

In [35]:
df.head()

,Depmap,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
0,TSPAN6,4.331992,4.567424,3.15056,5.08534,6.729417,4.27277,3.337711,0.056584,4.017031,...,6.345361,4.018812,4.328406,5.995032,3.533563,0.056584,3.111031,4.390943,5.05745,4.249445
1,TNMD,0.0,0.584963,0.0,0.0,0.0,0.189034,0.0,0.0,0.0,...,3.401903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DPM1,7.36466,7.106641,7.379118,7.154211,6.537917,7.023255,5.927659,6.094236,6.534497,...,7.211694,6.700856,7.059182,6.238978,6.488483,6.604368,7.031329,7.013239,7.815191,6.175724
3,SCYL3,2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.971773,2.226509,...,2.533563,2.137504,1.891419,2.304511,1.823749,3.266037,1.541019,1.887525,2.538538,2.31904
4,C1orf112,4.471187,3.50462,4.228049,3.084064,3.867896,3.841973,2.678072,3.731183,3.02148,...,4.374344,2.531069,3.529821,4.0,3.308885,4.973152,3.664483,3.252476,3.893362,3.825786

In [36]:
df = df.rename(columns={'Depmap':'gene'})

In [37]:
df.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,ACH-001578,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052
0,TSPAN6,4.331992,4.567424,3.15056,5.08534,6.729417,4.27277,3.337711,0.056584,4.017031,...,6.345361,4.018812,4.328406,5.995032,3.533563,0.056584,3.111031,4.390943,5.05745,4.249445
1,TNMD,0.0,0.584963,0.0,0.0,0.0,0.189034,0.0,0.0,0.0,...,3.401903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,DPM1,7.36466,7.106641,7.379118,7.154211,6.537917,7.023255,5.927659,6.094236,6.534497,...,7.211694,6.700856,7.059182,6.238978,6.488483,6.604368,7.031329,7.013239,7.815191,6.175724
3,SCYL3,2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.971773,2.226509,...,2.533563,2.137504,1.891419,2.304511,1.823749,3.266037,1.541019,1.887525,2.538538,2.31904
4,C1orf112,4.471187,3.50462,4.228049,3.084064,3.867896,3.841973,2.678072,3.731183,3.02148,...,4.374344,2.531069,3.529821,4.0,3.308885,4.973152,3.664483,3.252476,3.893362,3.825786

In [40]:
cBAF_score = pd.merge(df, TEST1, on = 'gene', how = 'inner')

In [41]:
cBAF_score.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,ACH-000036,ACH-000973,ACH-001128,ACH-000750,ACH-000285,ACH-002669,ACH-001858,ACH-001997,ACH-000052,Average
0,TSPAN6,4.331992,4.567424,3.15056,5.08534,6.729417,4.27277,3.337711,0.056584,4.017031,...,4.018812,4.328406,5.995032,3.533563,0.056584,3.111031,4.390943,5.05745,4.249445,3.393633
1,TNMD,0.0,0.584963,0.0,0.0,0.0,0.189034,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.077185
2,DPM1,7.36466,7.106641,7.379118,7.154211,6.537917,7.023255,5.927659,6.094236,6.534497,...,6.700856,7.059182,6.238978,6.488483,6.604368,7.031329,7.013239,7.815191,6.175724,6.521012
3,SCYL3,2.792855,2.543496,2.333424,2.545968,2.456806,2.555816,1.944858,3.971773,2.226509,...,2.137504,1.891419,2.304511,1.823749,3.266037,1.541019,1.887525,2.538538,2.31904,2.367667
4,C1orf112,4.471187,3.50462,4.228049,3.084064,3.867896,3.841973,2.678072,3.731183,3.02148,...,2.531069,3.529821,4.0,3.308885,4.973152,3.664483,3.252476,3.893362,3.825786,3.678618

In [43]:
cBAF_score2 = pd.merge(cBAF_score, cBAF_downreg, on = 'gene', how = 'inner')

In [44]:
cBAF_score2.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,proportion_of_tissues_where_significant,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue,annotated_functions
0,STAB1,0.056584,0.084064,0.070389,0.0,0.014355,0.137504,0.028569,0.042644,0.201634,...,0.5,0.622912,0.928117,0.999958,0.019496,3.577760e-08,0.937959,0.018408,0.003142,protein binding
1,SLC6A7,0.0,0.0,0.0,0.042644,0.0,1.970854,0.014355,0.0,0.0,...,0.5,0.918358,0.015666,0.999958,0.032801,3.664958e-04,0.802462,0.029678,0.488808,None
2,ALOX5,0.214125,0.214125,0.014355,0.62293,5.782933,1.944858,0.201634,0.238787,1.077243,...,0.5,0.678948,0.043900,0.999958,0.016656,9.481017e-03,0.569912,0.000022,0.067270,protein binding
3,MTMR11,1.831877,4.831877,1.669027,3.778209,1.765535,3.91265,2.759156,2.970854,2.865919,...,0.5,0.613535,0.878440,0.999958,0.008080,5.340482e-01,0.006816,0.002723,0.000059,None
4,ADAM28,0.111031,0.097611,0.124328,2.811471,0.978196,0.0,0.214125,1.819668,0.176323,...,0.5,0.049856,0.700369,0.999958,0.016491,3.649882e-02,0.992190,0.000002,0.124470,None

In [45]:
cBAF_score2.to_excel('cBAF_loss_score_v1.xlsx')

In [62]:
def check_numbers(row):
    # 'Average' is the reference number for comparison
    defined_number = row['Average']
    
    # Initialize results dictionary
    results = {}
    
    # Iterate through each column except 'Average'
    for col in row.index:
        if col != 'Average':
            value = row[col]
            
            # Try to convert value to a float
            try:
                value = float(value)
                # Check if value is less than defined_number and not zero
                results[col] = (value < defined_number and value != 0)
            except ValueError:
                # If conversion fails, skip this value
                results[col] = False
    
    return results

In [63]:
# Apply the function to each row and store the results in a new column
cBAF_score2['CheckResults'] = cBAF_score2.apply(check_numbers, axis=1)

In [64]:
cBAF_score2.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,TCGA-COAD_qvalue,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue,annotated_functions,CheckResults
0,STAB1,0.056584,0.084064,0.070389,0.0,0.014355,0.137504,0.028569,0.042644,0.201634,...,0.622912,0.928117,0.999958,0.019496,3.577760e-08,0.937959,0.018408,0.003142,protein binding,"{'gene': False, 'ACH-001113': True, 'ACH-00128..."
1,SLC6A7,0.0,0.0,0.0,0.042644,0.0,1.970854,0.014355,0.0,0.0,...,0.918358,0.015666,0.999958,0.032801,3.664958e-04,0.802462,0.029678,0.488808,None,"{'gene': False, 'ACH-001113': False, 'ACH-0012..."
2,ALOX5,0.214125,0.214125,0.014355,0.62293,5.782933,1.944858,0.201634,0.238787,1.077243,...,0.678948,0.043900,0.999958,0.016656,9.481017e-03,0.569912,0.000022,0.067270,protein binding,"{'gene': False, 'ACH-001113': True, 'ACH-00128..."
3,MTMR11,1.831877,4.831877,1.669027,3.778209,1.765535,3.91265,2.759156,2.970854,2.865919,...,0.613535,0.878440,0.999958,0.008080,5.340482e-01,0.006816,0.002723,0.000059,None,"{'gene': False, 'ACH-001113': True, 'ACH-00128..."
4,ADAM28,0.111031,0.097611,0.124328,2.811471,0.978196,0.0,0.214125,1.819668,0.176323,...,0.049856,0.700369,0.999958,0.016491,3.649882e-02,0.992190,0.000002,0.124470,None,"{'gene': False, 'ACH-001113': True, 'ACH-00128..."

In [65]:
# Calculate the number of True values in each row's CheckResults dictionary
cBAF_score2['TrueCount'] = cBAF_score2['CheckResults'].apply(lambda x: sum(x.values()))

# Sum the True counts across all rows
total_true_count = cBAF_score2['TrueCount'].sum()

In [66]:
print(f"Total number of True values: {total_true_count}")

Total number of True values: 92797

In [67]:
cBAF_score2.head()

,gene,ACH-001113,ACH-001289,ACH-001339,ACH-001538,ACH-000242,ACH-000708,ACH-000327,ACH-000233,ACH-000461,...,TCGA-LUAD_qvalue,TCGA-LUSC_qvalue,TCGA-BRCA_qvalue,TCGA-KIRP_qvalue,TCGA-READ_qvalue,TCGA-LIHC_qvalue,TCGA-BLCA_qvalue,annotated_functions,CheckResults,TrueCount
0,STAB1,0.056584,0.084064,0.070389,0.0,0.014355,0.137504,0.028569,0.042644,0.201634,...,0.928117,0.999958,0.019496,3.577760e-08,0.937959,0.018408,0.003142,protein binding,"{'gene': False, 'ACH-001113': True, 'ACH-00128...",1033
1,SLC6A7,0.0,0.0,0.0,0.042644,0.0,1.970854,0.014355,0.0,0.0,...,0.015666,0.999958,0.032801,3.664958e-04,0.802462,0.029678,0.488808,None,"{'gene': False, 'ACH-001113': False, 'ACH-0012...",374
2,ALOX5,0.214125,0.214125,0.014355,0.62293,5.782933,1.944858,0.201634,0.238787,1.077243,...,0.043900,0.999958,0.016656,9.481017e-03,0.569912,0.000022,0.067270,protein binding,"{'gene': False, 'ACH-001113': True, 'ACH-00128...",820
3,MTMR11,1.831877,4.831877,1.669027,3.778209,1.765535,3.91265,2.759156,2.970854,2.865919,...,0.878440,0.999958,0.008080,5.340482e-01,0.006816,0.002723,0.000059,None,"{'gene': False, 'ACH-001113': True, 'ACH-00128...",683
4,ADAM28,0.111031,0.097611,0.124328,2.811471,0.978196,0.0,0.214125,1.819668,0.176323,...,0.700369,0.999958,0.016491,3.649882e-02,0.992190,0.000002,0.124470,None,"{'gene': False, 'ACH-001113': True, 'ACH-00128...",859

In [68]:
cBAF_score2.to_excel('cBAF_loss_score_v3.xlsx')

In [70]:
# Initialize a dictionary to hold the count of True values for each key
true_counts = {}

# Iterate over each row in the 'CheckResults' column
for results in cBAF_score2['CheckResults']:
    for key, value in results.items():
        if value:  # If the value is True
            if key in true_counts:
                true_counts[key] += 1
            else:
                true_counts[key] = 1

In [71]:
print(true_counts)

{'ACH-001113': 67, 'ACH-001289': 71, 'ACH-001339': 73, 'ACH-000242': 78, 'ACH-000708': 77, 'ACH-000327': 84, 'ACH-000233': 64, 'ACH-000461': 83, 'ACH-000705': 78, 'ACH-000528': 69, 'ACH-001655': 58, 'ACH-001098': 54, 'ACH-002040': 57, 'ACH-000769': 75, 'ACH-000154': 38, 'ACH-000828': 67, 'ACH-000421': 65, 'ACH-000765': 63, 'ACH-001375': 66, 'ACH-000008': 69, 'ACH-000800': 74, 'ACH-000606': 78, 'ACH-000123': 83, 'ACH-000723': 59, 'ACH-002066': 59, 'ACH-001536': 69, 'ACH-003136': 39, 'ACH-002019': 48, 'ACH-000728': 54, 'ACH-000823': 79, 'ACH-000678': 73, 'ACH-000006': 54, 'ACH-001377': 57, 'ACH-000754': 69, 'ACH-000465': 74, 'ACH-000138': 71, 'ACH-001864': 61, 'ACH-000383': 80, 'ACH-001707': 48, 'ACH-000117': 91, 'ACH-000999': 92, 'ACH-000633': 75, 'ACH-000520': 74, 'ACH-001385': 50, 'ACH-000587': 70, 'ACH-000785': 80, 'ACH-000554': 72, 'ACH-001398': 49, 'ACH-001991': 46, 'ACH-000585': 69, 'ACH-000550': 72, 'ACH-000627': 65, 'ACH-000276': 58, 'ACH-000818': 80, 'ACH-000625': 69, 'ACH-000941': 80, 'ACH-000392': 83, 'ACH-000269': 71, 'ACH-001670': 54, 'ACH-003133': 56, 'ACH-000856': 80, 'ACH-002687': 48, 'ACH-001119': 49, 'ACH-003132': 41, 'ACH-000376': 71, 'ACH-000685': 73, 'ACH-000729': 70, 'ACH-001034': 65, 'ACH-000880': 80, 'ACH-000035': 66, 'ACH-000322': 65, 'ACH-000552': 71, 'ACH-000222': 71, 'ACH-000260': 60, 'ACH-001652': 50, 'ACH-000612': 58, 'ACH-001184': 52, 'ACH-001688': 45, 'ACH-001838': 64, 'ACH-000638': 77, 'ACH-001846': 55, 'ACH-001321': 64, 'ACH-000894': 73, 'ACH-001559': 64, 'ACH-000344': 70, 'ACH-000223': 64, 'ACH-000034': 46, 'ACH-000946': 72, 'ACH-000596': 82, 'ACH-000632': 73, 'ACH-001841': 50, 'ACH-000179': 70, 'ACH-000887': 65, 'ACH-000240': 57, 'ACH-000578': 70, 'ACH-000135': 54, 'ACH-000406': 46, 'ACH-001541': 43, 'ACH-000998': 76, 'ACH-000441': 77, 'ACH-000960': 55, 'ACH-000098': 64, 'ACH-001651': 55, 'ACH-001336': 63, 'ACH-000284': 45, 'ACH-000971': 77, 'ACH-001454': 73, 'ACH-000926': 68, 'ACH-000033': 64, 'ACH-000576': 57, 'ACH-000019': 80, 'ACH-000330': 78, 'ACH-000481': 81, 'ACH-001517': 52, 'ACH-000338': 61, 'ACH-001959': 45, 'ACH-001403': 59, 'ACH-000805': 82, 'ACH-001142': 57, 'ACH-001554': 62, 'ACH-000847': 64, 'ACH-001537': 57, 'ACH-001207': 47, 'ACH-001854': 46, 'ACH-000832': 71, 'ACH-000428': 62, 'ACH-001382': 55, 'ACH-001302': 51, 'ACH-000690': 84, 'ACH-001134': 51, 'ACH-000914': 56, 'ACH-000858': 77, 'ACH-001421': 52, 'ACH-000544': 82, 'ACH-000725': 65, 'ACH-000760': 61, 'ACH-001745': 59, 'ACH-000749': 71, 'ACH-001691': 34, 'ACH-001328': 55, 'ACH-001068': 55, 'ACH-001672': 56, 'ACH-001521': 57, 'ACH-001520': 44, 'ACH-001610': 50, 'ACH-001408': 62, 'ACH-000991': 58, 'ACH-001412': 53, 'ACH-001407': 39, 'ACH-000594': 69, 'ACH-000684': 64, 'ACH-000742': 50, 'ACH-000868': 75, 'ACH-000732': 86, 'ACH-000429': 74, 'ACH-000643': 69, 'ACH-000234': 73, 'ACH-001607': 55, 'ACH-000186': 71, 'ACH-002780': 53, 'ACH-000677': 58, 'ACH-000287': 59, 'ACH-000784': 83, 'ACH-000530': 62, 'ACH-002024': 41, 'ACH-000380': 62, 'ACH-001737': 43, 'ACH-001054': 53, 'ACH-000009': 79, 'ACH-000491': 73, 'ACH-001703': 40, 'ACH-000002': 53, 'ACH-001568': 60, 'ACH-000993': 82, 'ACH-002680': 41, 'ACH-000877': 49, 'ACH-001515': 50, 'ACH-001020': 54, 'ACH-000600': 62, 'ACH-000012': 80, 'ACH-000689': 59, 'ACH-000459': 61, 'ACH-001413': 49, 'ACH-000342': 89, 'ACH-000208': 48, 'ACH-000360': 82, 'ACH-000249': 78, 'ACH-001368': 70, 'ACH-000231': 65, 'ACH-000945': 67, 'ACH-000943': 66, 'ACH-000282': 75, 'ACH-000164': 75, 'ACH-001793': 46, 'ACH-000262': 64, 'ACH-000158': 71, 'ACH-000773': 67, 'ACH-000857': 71, 'ACH-001129': 47, 'ACH-000184': 47, 'ACH-000329': 62, 'ACH-001569': 68, 'ACH-000814': 65, 'ACH-000949': 74, 'ACH-000124': 67, 'ACH-001626': 49, 'ACH-000619': 82, 'ACH-001340': 67, 'ACH-000546': 75, 'ACH-001709': 47, 'ACH-000153': 59, 'ACH-000526': 48, 'ACH-000116': 87, 'ACH-000815': 61, 'ACH-001270': 56, 'ACH-001561': 71, 'ACH-000842': 73, 'ACH-000898': 77, 'ACH-000681': 66, 'ACH-001310': 49, 'ACH-000070': 72, 'ACH-000484': 57, 'ACH-000108': 72, 'ACH-000656': 63, 'ACH-000997': 78, 'ACH-000819': 67, 'ACH-000226': 49, 'ACH-000087': 76, 'ACH-000340': 53, 'ACH-000758': 79, 'ACH-000196': 78, 'ACH-003141': 52, 'ACH-000258': 64, 'ACH-000163': 48, 'ACH-000509': 46, 'ACH-001193': 61, 'ACH-000391': 70, 'ACH-003138': 45, 'ACH-000532': 51, 'ACH-000584': 70, 'ACH-000586': 68, 'ACH-003149': 42, 'ACH-000561': 72, 'ACH-001648': 58, 'ACH-000954': 86, 'ACH-000204': 75, 'ACH-000160': 67, 'ACH-000989': 68, 'ACH-001347': 52, 'ACH-000691': 72, 'ACH-000268': 84, 'ACH-000119': 47, 'ACH-000379': 77, 'ACH-000714': 55, 'ACH-000937': 52, 'ACH-002834': 42, 'ACH-001673': 51, 'ACH-000326': 65, 'ACH-000300': 68, 'ACH-000901': 70, 'ACH-000816': 64, 'ACH-000511': 64, 'ACH-002077': 45, 'ACH-000583': 64, 'ACH-000836': 69, 'ACH-000975': 57, 'ACH-000109': 80, 'ACH-000467': 72, 'ACH-000712': 72, 'ACH-000523': 70, 'ACH-000136': 71, 'ACH-000440': 69, 'ACH-002539': 40, 'ACH-001461': 52, 'ACH-000890': 73, 'ACH-001692': 43, 'ACH-000027': 78, 'ACH-000748': 54, 'ACH-001669': 38, 'ACH-000834': 66, 'ACH-000565': 89, 'ACH-000449': 67, 'ACH-000399': 62, 'ACH-000770': 40, 'ACH-000507': 85, 'ACH-000066': 62, 'ACH-000334': 58, 'ACH-000374': 63, 'ACH-002003': 50, 'ACH-000574': 83, 'ACH-000148': 57, 'ACH-000646': 70, 'ACH-000314': 57, 'ACH-001705': 55, 'ACH-000040': 54, 'ACH-001057': 56, 'ACH-001977': 38, 'ACH-000370': 59, 'ACH-000437': 42, 'ACH-000503': 80, 'ACH-000328': 58, 'ACH-000403': 71, 'ACH-000400': 76, 'ACH-000318': 76, 'ACH-001430': 54, 'ACH-000928': 84, 'ACH-000893': 67, 'ACH-001623': 42, 'ACH-000736': 83, 'ACH-000876': 82, 'ACH-001618': 51, 'ACH-002650': 47, 'ACH-000235': 80, 'ACH-000381': 74, 'ACH-001993': 38, 'ACH-000854': 62, 'ACH-000569': 64, 'ACH-000668': 69, 'ACH-000134': 50, 'ACH-000924': 76, 'ACH-001450': 35, 'ACH-001715': 50, 'ACH-001617': 26, 'ACH-000553': 66, 'ACH-000094': 84, 'ACH-000361': 61, 'ACH-000339': 69, 'ACH-002048': 59, 'ACH-000218': 44, 'ACH-002486': 53, 'ACH-000125': 49, 'ACH-000215': 55, 'ACH-001001': 66, 'ACH-000407': 64, 'ACH-002170': 40, 'ACH-001132': 45, 'ACH-000032': 52, 'ACH-001419': 49, 'ACH-000494': 62, 'ACH-000865': 77, 'ACH-001523': 68, 'ACH-000024': 68, 'ACH-000674': 66, 'ACH-000599': 70, 'ACH-000303': 65, 'ACH-001551': 53, 'ACH-000793': 70, 'ACH-000286': 86, 'ACH-000250': 80, 'ACH-000139': 67, 'ACH-001735': 47, 'ACH-001389': 43, 'ACH-001183': 68, 'ACH-000744': 78, 'ACH-000336': 50, 'ACH-000679': 84, 'ACH-000247': 83, 'ACH-000807': 69, 'ACH-000476': 53, 'ACH-003154': 58, 'ACH-001148': 66, 'ACH-000853': 64, 'ACH-000479': 55, 'ACH-000230': 59, 'ACH-000049': 64, 'ACH-000199': 50, 'ACH-000193': 62, 'ACH-000538': 75, 'ACH-001990': 47, 'ACH-001647': 32, 'ACH-001649': 53, 'ACH-000155': 65, 'ACH-000683': 83, 'ACH-000655': 65, 'ACH-001495': 57, 'ACH-000188': 74, 'ACH-000080': 53, 'ACH-000146': 42, 'ACH-001518': 53, 'ACH-000891': 79, 'ACH-000895': 77, 'ACH-000851': 73, 'ACH-000061': 64, 'ACH-000185': 52, 'ACH-000568': 75, 'ACH-000707': 62, 'ACH-000603': 87, 'ACH-000541': 73, 'ACH-000680': 74, 'ACH-002460': 53, 'ACH-000111': 77, 'ACH-000618': 82, 'ACH-003150': 42, 'ACH-000118': 81, 'ACH-000614': 66, 'ACH-001338': 42, 'ACH-000432': 68, 'ACH-000556': 62, 'ACH-001804': 30, 'ACH-001060': 65, 'ACH-001525': 52, 'ACH-001539': 46, 'ACH-000637': 79, 'ACH-002693': 64, 'ACH-001855': 34, 'ACH-000389': 67, 'ACH-002710': 39, 'ACH-000129': 72, 'ACH-000490': 72, 'ACH-000434': 80, 'ACH-001086': 55, 'ACH-002042': 67, 'ACH-000597': 55, 'ACH-000396': 57, 'ACH-003148': 44, 'ACH-000089': 84, 'ACH-000371': 46, 'ACH-000265': 79, 'ACH-000132': 77, 'ACH-000216': 65, 'ACH-000613': 57, 'ACH-000855': 67, 'ACH-000906': 59, 'ACH-001100': 31, 'ACH-000237': 70, 'ACH-000393': 73, 'ACH-000623': 54, 'ACH-000359': 68, 'ACH-001028': 57, 'ACH-000621': 66, 'ACH-000056': 65, 'ACH-000483': 63, 'ACH-000043': 59, 'ACH-000936': 64, 'ACH-000716': 65, 'ACH-000952': 78, 'ACH-001350': 60, 'ACH-000504': 65, 'ACH-000652': 68, 'ACH-000414': 86, 'ACH-000472': 76, 'ACH-000007': 69, 'ACH-001850': 40, 'ACH-000755': 76, 'ACH-000028': 71, 'ACH-001679': 39, 'ACH-000078': 69, 'ACH-002046': 54, 'ACH-000229': 53, 'ACH-000572': 65, 'ACH-001605': 43, 'ACH-000277': 69, 'ACH-000786': 70, 'ACH-001970': 55, 'ACH-002038': 52, 'ACH-000537': 77, 'ACH-002806': 52, 'ACH-000419': 74, 'ACH-000522': 68, 'ACH-000706': 72, 'ACH-000737': 69, 'ACH-001839': 64, 'ACH-001799': 39, 'ACH-000425': 78, 'ACH-000375': 77, 'ACH-000753': 73, 'ACH-000275': 51, 'ACH-000735': 82, 'ACH-000654': 56, 'ACH-001394': 78, 'ACH-000404': 67, 'ACH-000882': 65, 'ACH-001509': 58, 'ACH-000210': 69, 'ACH-000254': 75, 'ACH-000090': 68, 'ACH-000605': 77, 'ACH-000458': 73, 'ACH-000251': 68, 'ACH-001194': 67, 'ACH-002055': 30, 'ACH-001443': 32, 'ACH-000405': 54, 'ACH-000821': 62, 'ACH-001677': 41, 'ACH-002526': 49, 'ACH-000951': 68, 'ACH-001986': 54, 'ACH-001147': 52, 'ACH-000162': 62, 'ACH-000018': 71, 'ACH-000721': 72, 'ACH-000003': 83, 'ACH-000092': 71, 'ACH-000669': 67, 'ACH-000648': 73, 'ACH-000950': 77, 'ACH-000050': 66, 'ACH-002051': 57, 'ACH-000367': 65, 'ACH-000589': 74, 'ACH-000564': 72, 'ACH-001522': 51, 'ACH-000831': 63, 'ACH-000424': 67, 'ACH-000409': 82, 'ACH-000616': 68, 'ACH-000628': 74, 'ACH-000512': 55, 'ACH-000232': 59, 'ACH-001295': 62, 'ACH-000806': 56, 'ACH-002524': 64, 'ACH-000645': 70, 'ACH-000902': 80, 'ACH-000649': 65, 'ACH-000142': 79, 'ACH-000697': 70, 'ACH-000942': 63, 'ACH-000093': 47, 'ACH-000100': 70, 'ACH-000060': 66, 'ACH-000001': 82, 'ACH-000957': 72, 'ACH-000650': 57, 'ACH-002799': 47, 'ACH-000239': 71, 'ACH-000762': 55, 'ACH-000922': 68, 'ACH-000859': 75, 'ACH-000410': 65, 'ACH-000927': 78, 'ACH-000694': 70, 'ACH-000918': 55, 'ACH-000761': 81, 'ACH-001563': 61, 'ACH-000974': 69, 'ACH-001719': 58, 'ACH-000243': 74, 'ACH-001418': 62, 'ACH-000362': 51, 'ACH-000843': 89, 'ACH-000840': 68, 'ACH-001528': 42, 'ACH-000016': 61, 'ACH-000165': 51, 'ACH-001460': 66, 'ACH-001192': 56, 'ACH-000741': 59, 'ACH-000912': 75, 'ACH-000577': 65, 'ACH-000636': 78, 'ACH-000667': 64, 'ACH-000905': 58, 'ACH-001494': 45, 'ACH-000026': 70, 'ACH-001172': 66, 'ACH-000822': 71, 'ACH-000531': 63, 'ACH-000349': 77, 'ACH-000527': 71, 'ACH-000279': 59, 'ACH-000812': 80, 'ACH-003157': 36, 'ACH-000611': 61, 'ACH-000411': 67, 'ACH-000718': 88, 'ACH-000903': 70, 'ACH-002021': 49, 'ACH-000433': 72, 'ACH-000499': 60, 'ACH-000278': 78, 'ACH-001736': 40, 'ACH-001379': 60, 'ACH-000128': 65, 'ACH-000696': 64, 'ACH-000041': 71, 'ACH-000214': 52, 'ACH-000747': 76, 'ACH-001307': 60, 'ACH-001740': 40, 'ACH-000120': 52, 'ACH-001694': 36, 'ACH-002509': 46, 'ACH-000438': 71, 'ACH-001366': 55, 'ACH-000653': 64, 'ACH-000839': 74, 'ACH-000673': 55, 'ACH-001524': 52, 'ACH-000069': 49, 'ACH-003142': 48, 'ACH-000021': 81, 'ACH-000980': 64, 'ACH-000106': 49, 'ACH-000734': 72, 'ACH-000845': 67, 'ACH-001982': 54, 'ACH-000730': 79, 'ACH-001334': 45, 'ACH-000802': 80, 'ACH-000573': 67, 'ACH-001699': 60, 'ACH-000963': 67, 'ACH-001653': 52, 'ACH-000852': 70, 'ACH-003153': 67, 'ACH-000661': 65, 'ACH-001190': 68, 'ACH-000364': 60, 'ACH-000448': 72, 'ACH-000932': 71, 'ACH-000783': 80, 'ACH-002459': 53, 'ACH-000976': 67, 'ACH-001516': 40, 'ACH-001354': 59, 'ACH-001645': 56, 'ACH-003135': 49, 'ACH-000867': 77, 'ACH-000304': 61, 'ACH-002069': 55, 'ACH-000302': 77, 'ACH-000305': 78, 'ACH-000533': 70, 'ACH-000343': 73, 'ACH-000171': 75, 'ACH-000535': 73, 'ACH-000774': 69, 'ACH-000178': 74, 'ACH-000372': 73, 'ACH-000804': 65, 'ACH-000011': 71, 'ACH-000733': 76, 'ACH-000829': 54, 'ACH-000141': 77, 'ACH-001843': 47, 'ACH-002664': 51, 'ACH-000780': 66, 'ACH-000759': 81, 'ACH-001555': 57, 'ACH-000969': 74, 'ACH-000873': 64, 'ACH-002654': 63, 'ACH-001373': 73, 'ACH-002800': 47, 'ACH-001022': 69, 'ACH-000082': 64, 'ACH-000488': 67, 'ACH-000172': 71, 'ACH-000647': 64, 'ACH-000156': 53, 'ACH-002001': 49, 'ACH-000315': 62, 'ACH-000201': 79, 'ACH-000435': 79, 'ACH-000965': 89, 'ACH-001550': 60, 'ACH-000482': 76, 'ACH-000450': 65, 'ACH-000835': 65, 'ACH-001802': 61, 'ACH-000629': 63, 'ACH-000870': 66, 'ACH-000910': 69, 'ACH-000779': 65, 'ACH-001196': 59, 'ACH-001484': 42, 'ACH-000693': 80, 'ACH-000423': 75, 'ACH-000290': 70, 'ACH-000492': 52, 'ACH-001497': 53, 'ACH-000102': 54, 'ACH-000817': 61, 'ACH-001556': 59, 'ACH-000964': 70, 'ACH-000378': 70, 'ACH-000575': 65, 'ACH-000634': 59, 'ACH-002291': 53, 'ACH-001552': 61, 'ACH-000451': 66, 'ACH-000879': 75, 'ACH-001842': 60, 'ACH-000189': 74, 'ACH-000454': 74, 'ACH-000131': 44, 'ACH-001197': 49, 'ACH-000915': 65, 'ACH-000480': 87, 'ACH-000745': 79, 'ACH-000161': 76, 'ACH-000395': 89, 'ACH-001459': 56, 'ACH-000916': 84, 'ACH-001609': 44, 'ACH-001856': 46, 'ACH-003158': 57, 'ACH-001485': 41, 'ACH-000292': 71, 'ACH-000308': 72, 'ACH-000445': 52, 'ACH-000144': 79, 'ACH-000837': 83, 'ACH-000048': 78, 'ACH-000463': 63, 'ACH-000388': 54, 'ACH-001992': 61, 'ACH-000147': 70, 'ACH-000930': 81, 'ACH-000366': 69, 'ACH-001526': 55, 'ACH-000064': 59, 'ACH-001329': 50, 'ACH-000418': 54, 'ACH-001280': 63, 'ACH-002922': 61, 'ACH-000861': 61, 'ACH-000133': 57, 'ACH-000306': 52, 'ACH-001530': 47, 'ACH-000563': 86, 'ACH-000058': 65, 'ACH-000345': 66, 'ACH-000316': 66, 'ACH-000884': 62, 'ACH-000355': 69, 'ACH-000962': 68, 'ACH-000473': 72, 'ACH-001807': 51, 'ACH-001344': 45, 'ACH-000757': 68, 'ACH-000054': 67, 'ACH-001318': 82, 'ACH-000601': 69, 'ACH-000635': 80, 'ACH-001857': 51, 'ACH-000630': 56, 'ACH-000225': 81, 'ACH-000657': 72, 'ACH-000699': 81, 'ACH-000687': 66, 'ACH-000044': 67, 'ACH-000740': 64, 'ACH-000101': 51, 'ACH-000319': 63, 'ACH-000280': 67, 'ACH-000104': 45, 'ACH-001835': 37, 'ACH-000892': 71, 'ACH-000493': 60, 'ACH-000042': 83, 'ACH-002045': 53, 'ACH-000221': 88, 'ACH-000746': 76, 'ACH-000356': 82, 'ACH-000457': 70, 'ACH-000244': 54, 'ACH-000610': 51, 'ACH-003161': 38, 'ACH-000255': 65, 'ACH-001038': 62, 'ACH-002016': 43, 'ACH-000416': 80, 'ACH-000752': 67, 'ACH-000862': 81, 'ACH-000401': 76, 'ACH-000731': 64, 'ACH-000875': 71, 'ACH-000626': 59, 'ACH-000593': 71, 'ACH-000182': 74, 'ACH-000442': 68, 'ACH-000159': 73, 'ACH-000907': 78, 'ACH-000191': 73, 'ACH-000103': 77, 'ACH-000206': 48, 'ACH-000841': 77, 'ACH-000615': 80, 'ACH-000801': 77, 'ACH-000539': 43, 'ACH-000464': 60, 'ACH-000622': 61, 'ACH-001390': 74, 'ACH-001401': 66, 'ACH-000365': 51, 'ACH-001431': 53, 'ACH-000475': 85, 'ACH-000860': 71, 'ACH-000377': 81, 'ACH-001562': 56, 'ACH-001693': 43, 'ACH-002801': 41, 'ACH-000720': 64, 'ACH-000095': 67, 'ACH-001345': 61, 'ACH-000558': 68, 'ACH-000664': 66, 'ACH-000177': 76, 'ACH-000631': 57, 'ACH-000207': 80, 'ACH-000764': 59, 'ACH-000373': 54, 'ACH-000953': 71, 'ACH-000709': 80, 'ACH-000846': 77, 'ACH-000333': 73, 'ACH-002059': 39, 'ACH-000929': 75, 'ACH-001395': 53, 'ACH-002015': 55, 'ACH-000981': 51, 'ACH-000617': 84, 'ACH-000311': 76, 'ACH-001834': 47, 'ACH-003143': 54, 'ACH-000468': 49, 'ACH-000077': 76, 'ACH-000496': 65, 'ACH-002512': 55, 'ACH-000062': 60, 'ACH-000536': 79, 'ACH-002004': 57, 'ACH-000878': 66, 'ACH-001380': 60, 'ACH-000412': 83, 'ACH-000427': 80, 'ACH-000938': 62, 'ACH-000462': 54, 'ACH-000939': 62, 'ACH-000325': 73, 'ACH-000515': 61, 'ACH-001033': 66, 'ACH-000642': 67, 'ACH-001818': 42, 'ACH-000797': 48, 'ACH-000220': 60, 'ACH-000827': 60, 'ACH-000778': 62, 'ACH-000743': 77, 'ACH-000190': 69, 'ACH-001819': 52, 'ACH-000157': 61, 'ACH-000253': 77, 'ACH-001376': 58, 'ACH-000228': 76, 'ACH-000266': 82, 'ACH-001750': 42, 'ACH-000174': 73, 'ACH-000245': 60, 'ACH-001279': 58, 'ACH-003147': 55, 'ACH-000620': 75, 'ACH-000813': 61, 'ACH-000168': 39, 'ACH-000211': 56, 'ACH-000283': 52, 'ACH-002041': 52, 'ACH-000987': 70, 'ACH-000073': 55, 'ACH-000212': 65, 'ACH-000096': 60, 'ACH-000063': 49, 'ACH-001999': 63, 'ACH-000776': 74, 'ACH-000521': 73, 'ACH-001716': 43, 'ACH-000833': 70, 'ACH-001628': 45, 'ACH-000274': 61, 'ACH-000029': 62, 'ACH-001849': 46, 'ACH-000644': 74, 'ACH-001422': 64, 'ACH-000588': 71, 'ACH-000849': 77, 'ACH-000219': 59, 'ACH-000150': 73, 'ACH-000384': 68, 'ACH-001053': 68, 'ACH-001274': 50, 'ACH-000091': 79, 'ACH-001634': 42, 'ACH-002531': 46, 'ACH-000911': 74, 'ACH-000013': 89, 'ACH-000777': 76, 'ACH-001765': 52, 'ACH-000312': 71, 'ACH-000085': 78, 'ACH-000869': 71, 'ACH-000489': 89, 'ACH-000152': 73, 'ACH-000582': 77, 'ACH-000460': 81, 'ACH-001570': 68, 'ACH-000986': 73, 'ACH-001335': 46, 'ACH-000023': 72, 'ACH-002462': 29, 'ACH-000151': 61, 'ACH-001277': 47, 'ACH-000607': 70, 'ACH-000703': 62, 'ACH-001211': 61, 'ACH-003152': 53, 'ACH-000337': 74, 'ACH-000598': 72, 'ACH-000057': 65, 'ACH-000281': 70, 'ACH-000985': 83, 'ACH-000347': 79, 'ACH-001399': 60, 'ACH-001097': 36, 'ACH-000127': 64, 'ACH-001796': 42, 'ACH-000307': 70, 'ACH-000595': 74, 'ACH-001540': 50, 'ACH-000298': 66, 'ACH-000771': 85, 'ACH-000500': 68, 'ACH-000363': 59, 'ACH-000350': 72, 'ACH-000663': 76, 'ACH-000346': 48, 'ACH-000970': 70, 'ACH-001333': 57, 'ACH-000794': 80, 'ACH-000039': 77, 'ACH-000471': 77, 'ACH-000850': 42, 'ACH-001453': 66, 'ACH-001458': 50, 'ACH-000886': 57, 'ACH-000888': 75, 'ACH-000030': 61, 'ACH-001201': 65, 'ACH-000271': 58, 'ACH-000478': 61, 'ACH-000775': 76, 'ACH-000038': 58, 'ACH-001109': 51, 'ACH-001442': 48, 'ACH-000510': 75, 'ACH-002065': 53, 'ACH-000676': 62, 'ACH-002659': 37, 'ACH-000844': 79, 'ACH-002787': 47, 'ACH-002465': 30, 'ACH-000272': 58, 'ACH-001035': 59, 'ACH-001059': 63, 'ACH-000959': 70, 'ACH-001402': 63, 'ACH-000796': 68, 'ACH-000143': 56, 'ACH-000067': 62, 'ACH-001674': 51, 'ACH-001698': 61, 'ACH-002011': 48, 'ACH-000967': 81, 'ACH-001353': 57, 'ACH-000097': 68, 'ACH-000256': 93, 'ACH-000972': 77, 'ACH-001532': 45, 'ACH-001795': 56, 'ACH-001510': 63, 'ACH-000408': 79, 'ACH-001496': 67, 'ACH-000466': 75, 'ACH-001560': 49, 'ACH-001687': 41, 'ACH-001151': 73, 'ACH-000701': 67, 'ACH-000542': 80, 'ACH-000126': 63, 'ACH-001685': 58, 'ACH-000068': 62, 'ACH-000015': 77, 'ACH-001111': 70, 'ACH-000288': 70, 'ACH-001820': 45, 'ACH-001632': 53, 'ACH-001031': 63, 'ACH-001064': 42, 'ACH-003155': 53, 'ACH-000567': 66, 'ACH-001391': 66, 'ACH-001075': 75, 'ACH-000105': 60, 'ACH-000557': 45, 'ACH-000175': 69, 'ACH-001356': 46, 'ACH-000885': 72, 'ACH-000900': 85, 'ACH-000666': 87, 'ACH-000217': 62, 'ACH-000872': 65, 'ACH-001228': 66, 'ACH-000181': 79, 'ACH-000115': 72, 'ACH-000121': 60, 'ACH-000934': 57, 'ACH-001529': 49, 'ACH-001743': 57, 'ACH-000320': 64, 'ACH-000505': 63, 'ACH-000781': 72, 'ACH-000059': 60, 'ACH-000422': 69, 'ACH-000200': 62, 'ACH-000046': 67, 'ACH-000968': 75, 'ACH-000830': 63, 'ACH-000114': 65, 'ACH-000402': 61, 'ACH-000973': 65, 'ACH-001128': 52, 'ACH-000750': 63, 'ACH-000285': 68, 'ACH-002669': 46, 'ACH-001858': 65, 'ACH-001997': 52, 'ACH-000052': 74, 'TCGA-BRCA_qvalue': 115, 'TCGA-KIRP_qvalue': 129, 'TCGA-LIHC_qvalue': 129, 'TCGA-BLCA_qvalue': 86, 'ACH-001538': 54, 'ACH-002023': 54, 'ACH-000167': 58, 'ACH-001814': 52, 'ACH-002029': 61, 'ACH-002471': 65, 'ACH-000984': 63, 'ACH-001409': 56, 'ACH-000176': 71, 'ACH-001332': 54, 'ACH-000332': 70, 'ACH-000871': 66, 'ACH-000787': 65, 'ACH-000203': 59, 'ACH-000672': 71, 'ACH-000711': 66, 'ACH-000354': 78, 'ACH-001029': 60, 'ACH-001696': 56, 'ACH-000261': 87, 'ACH-001701': 50, 'ACH-000560': 79, 'ACH-000324': 74, 'ACH-001415': 56, 'ACH-000293': 83, 'ACH-000710': 68, 'ACH-000022': 77, 'ACH-002461': 44, 'ACH-001630': 64, 'ACH-001301': 47, 'ACH-000543': 64, 'ACH-001360': 51, 'ACH-000273': 69, 'ACH-001848': 62, 'ACH-000263': 59, 'ACH-000486': 67, 'ACH-000415': 75, 'ACH-001625': 61, 'ACH-000824': 69, 'ACH-000506': 64, 'ACH-000540': 45, 'ACH-000014': 60, 'ACH-000455': 60, 'ACH-000756': 81, 'ACH-000238': 71, 'ACH-001641': 57, 'ACH-000514': 62, 'ACH-000956': 65, 'ACH-000446': 48, 'ACH-000386': 41, 'ACH-002522': 50, 'ACH-000170': 57, 'ACH-001791': 54, 'ACH-000547': 58, 'ACH-000099': 70, 'ACH-000227': 69, 'ACH-000264': 74, 'ACH-001852': 67, 'ACH-000592': 64, 'ACH-000529': 49, 'ACH-000768': 68, 'ACH-001303': 57, 'ACH-000524': 80, 'ACH-002070': 52, 'ACH-000323': 54, 'ACH-003156': 65, 'ACH-000698': 66, 'ACH-001836': 62, 'ACH-000301': 53, 'ACH-000766': 82, 'ACH-000883': 64, 'ACH-000715': 79, 'ACH-000767': 72, 'ACH-001032': 66, 'ACH-001960': 49, 'ACH-000692': 65, 'ACH-00065

In [76]:
counts = pd.DataFrame(list(true_counts.items()), columns=['Depmap ID','Count'])

In [77]:
counts.head()

    Depmap ID  Count
0  ACH-001113     67
1  ACH-001289     71
2  ACH-001339     73
3  ACH-000242     78
4  ACH-000708     77

In [78]:
cBAF_score4 = pd.merge(counts, DRC_table, on = 'Depmap ID', how = 'inner')

In [79]:
cBAF_score4.head()

    Depmap ID  Count Cell name  AUC, DEG-35  AUC, DEG-35 sigfig 4
0  ACH-001113     67   LC1SQSF     0.992851                0.9929
1  ACH-001289     71  COGAR359     0.942068                0.9421
2  ACH-000242     78       RT4     0.684817                0.6848
3  ACH-000233     64       DEL     0.797382                0.7974
4  ACH-000461     83   SNU1196     0.919561                0.9196

In [81]:
cBAF_score4.to_excel('cBAF_loss_score_v4.xlsx')

In [82]:
import numpy

values = [13,21,21,40,42,48,55,72]

x = numpy.percentile(values, 65)

print(x)

45.3